{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow p-4">

                <h2 class="text-center mb-4">
                    🌱 Welcome Back
                </h2>


                <!-- Display form errors -->
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong> Please check your username and password.!</strong>

                    </div>
                {% endif %}


                <form method="POST">
                    {% csrf_token %}


                    <div class="mb-3">
                        <label class="form-label">
                            Username
                        </label>

                        {{ form.username }}

                        {% if form.username.errors %}
                            <div class="text-danger">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}

                    </div>



                    <div class="mb-3">
                        <label class="form-label">
                            Password
                        </label>

                        {{ form.password }}

                        {% if form.password.errors %}
                            <div class="text-danger">
                                {{ form.password.errors }}
                            </div>
                        {% endif %}

                    </div>



                    <button type="submit" class="btn btn-success w-100">
                        LogIn
                    </button>


                </form>

            </div>

        </div>

    </div>
</div>

{% endblock %}